.elemento-no-centro{
    text-align: center;
}
.plano-de-fundo {
  /* background-color: #ff7675 */
  background-image: url("../img/imagem-fundo.jpg");
}
.texto-branco {
  color: white;
}
.fonte {
  font-size: 20px;
}
