.elemento-no-centro{
    text-align: center;
}
.plano-de-fundo {
  background-color: #ffb8b8
  /* background-image: url("../img/imagem-atual.jpg"); */
}
.texto-branco {
  color: white;
}
.fonte {
  font-size: 20px;
}

header .intro-text {
    padding-top: 300px;
    padding-bottom: 300px;
}
.img-circle {
  border-radius: 50%;
}
